body {
      text-align: center;
      background-color: rgb(151, 207, 186);
}

.btn {
      height: 12.5rem;
      width: 12.5rem;
      border: 6px solid black;
      border-radius: 1.5rem;
      margin: 1.5rem;
      font-weight: 700;
}

.btn:hover {
      cursor: pointer;
}

.btn-container {
      display: flex;
      justify-content: center;
}

.color1 {
      background-color: #fa0814f3;
      box-shadow: 5px 5px 20px #fa0814f3;
}

.color1:hover {
      box-shadow: 7px 7px 30px #fa0814f3;
}

.color2 {
      background-color: #fefe0f;
      box-shadow: 5px 5px 20px #fefe0f;
}

.color2:hover {
      box-shadow: 7px 7px 30px #fefe0f;
}

.color3 {
      background-color: #0013e0e0;
      box-shadow: 5px 5px 20px #0013e0e0;
}

.color3:hover {
      box-shadow: 7px 7px 30px #0013e0e0;
}

.color4 {
      background-color: rgb(1, 100, 1);
      box-shadow: 5px 5px 20px rgb(1, 100, 1);
}

.color4:hover {
      box-shadow: 7px 7px 30px rgb(1, 100, 1);
}

.flash {
      background-color: white;
}

.userflash {
      background-color: black;
}